coreutils: userview bsh fileout no cwd proc truefalse out \
	   arch os

userview:
	$(CC) core/userview/userview.c -o $(BUILD)/userview $(CFLAGS)

bsh:
	$(CC) core/bsh/bsh_main.c -o $(BUILD)/bsh $(CFLAGS)

fileout:
	$(CC) core/fileout/fileout.c -o $(BUILD)/fileout $(CFLAGS)

no:
	$(CC) core/no/no.c -o $(BUILD)/no $(CFLAGS)

cwd:
	$(CC) core/cwd/cwd.c -o $(BUILD)/cwd $(CFLAGS)

proc:
	$(CC) core/proc/proc.c -o $(BUILD)/proc $(CFLAGS)

truefalse:
	$(CC) core/truefalse/true.c -o $(BUILD)/true $(CFLAGS)
	$(CC) core/truefalse/false.c -o $(BUILD)/false $(CFLAGS)

out:
	$(CC) core/out/out.c -o $(BUILD)/out $(CFLAGS)

arch:
	$(CC) core/arch/arch.c -o $(BUILD)/arch $(CFLAGS)
	
os:
	$(CC) core/os/os.c -o $(BUILD)/os $(CFLAGS)